.body {
  background-color: darkcyan;
  color: rgb(248, 243, 190);
  font-family: 'Open Sans', sans-serif;
  padding: 2px;
}

.header,
.footer {
  background-color: salmon;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Amatic SC', cursive;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.header .img {
  float: left;
  width: 100px;
  padding-left: 12px;
}

#logo {
  margin-top: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(248, 243, 190);
  border-radius: 200px / 20px 100px;
  background-color: rgb(248, 243, 190);
  width: 220px;
  height: 70px;
}

.header h1 {
  font-size: 72pt;
  align-self: center;
}

.nav {
  align-self: center;
  margin-left: 50px;
  font-size: x-large;
  width: min-content;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.articles {
  display: flex;
  flex-direction: column;
  width: 680px;
  justify-self: center;
}

.articles article:last-child {
  margin-bottom: 0px;
}

.article {
  width: 600px;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  background-color: rgb(12, 92, 92);
  height: 250px
}

.article p {
  height: 170px;
  padding: 10px;
}

.article img {
  height: 200px;
}

.aside {
  padding: 10px;
  padding-top: 30px;
  background-color: rgb(12, 92, 92);
  width: 180px;
}

#footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 960px;
  margin: auto;
}

.footer img {
  margin-top: 20px;
  height: 50px;
}

#tag {
  text-align: center;
}

#contact {
  text-align: right;
  padding-top: 20px;
  font-size: larger;
  margin-right: 35px;
}

#hours {
  text-align: left;
  padding-top: 20px;
  font-size: larger;
  margin-left: 35px;
}

.table {
  table-layout: auto;
  margin: auto;
  margin-top: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: darkcyan;
  padding: 4px;
}

.td,
.th {
  background-color: rgb(12, 92, 92);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 4px;
  width: min-content;
  border-width: 4px;
  border-style: solid;
  border-color: darkcyan;
  border-radius: 1em;
}

.th {
  font-weight: bold;
}

.mark {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: rgb(12, 92, 92);
  background-color: rgb(248, 243, 190);
}

.h4 {
  font-size: large;
  font-weight: bold;
}

.li {
  padding-top: 6px;
  line-height: 1.2em;
}

.em {
  font-weight: bold;
}

.a {
  color: rgb(248, 243, 190);
}

.form {
  width: 800px;
  margin: auto;
  margin-top: 40px;
  padding: 4px;
}

.fieldset {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(12, 92, 92);
  border-radius: 1em;
  padding: 8px;
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
  row-gap: 5px;
}

.input {
  display: block;
  margin-top: 3px;
  border-radius: .75em;
  padding: 3px;
}

.button {
  margin-top: 3px;
  border-radius: .75em;
}

.hr {
  border-style: solid;
  color: darkcyan
}
